.tree-size {
    height: 125px;
    width: auto;
    max-width: fit-content;
}

.tree-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: min-content;
    gap: 20px;
    min-height: 100%;
}

.game-layout {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 1fr 300px;
    grid-template-rows: 1fr 200px;
    grid-template-areas: 
        "gameworld sidebar"
        "messages sidebar";
}

.area-gameworld {
    grid-area: gameworld;
    background: #ccc;
}

.area-messages {
    grid-area: messages;
    overflow-y: auto;
}

.area-interface {
    grid-area: sidebar; 
    background: #777;
    display: flex;
    flex-direction: column;
}